* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: beige;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: left;
    justify-content: space-between;
}

.login-header {
    background-color: #add779;
    color: black;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.login-header .logo-container {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.login-header .logo-container img {
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}
.login-header nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 1rem;
}

.login-header nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.login-header nav a:hover {
    color: #f4c20d;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    margin: 6rem auto;
    height: 320px;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #495057;
}

.login-footer {
    background-color:#add779;
    color: black;
    padding: 1rem;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

.footer-links a {
    color: black;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.login-container select {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding is included in width */
    background-color: #fff;
    font-size: 14px;
}

.login-container h1 {
    text-align: center;
    font: arial;
    font-weight: bold;
    color:#333;
    align-items: center;
}
.login-container h2 {
    text-align: center;
    color: #333;
}

.login-container label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding is included in width */
}

.login-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-container button:hover {
    background-color: none;
}

.login-container a {
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container p {
    margin-top: 10px;
}
